.containerHerramientas{
    background-color: #262626 ;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    color: #1DAFA5;
    font-size: 3rem;
    height: 10%;
    font-family: omnes-pro, sans-serif;
    font-style: normal;
    margin-bottom: 40px;
}
.iconosTecnologias{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.iconosPartners{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.iconosTecnologias .containerIcon{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.iconosPartners .containerIcon{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.containerIcon .icon{
    width: 80px;
    margin: 0 20px 0 20px;
    }


/* Media Queries */
@media screen and (max-width: 770px){
    .titulo{
        font-size: 3rem;
    }
    .icon{
        width: 80px;
    }
}
