.containerContactos{
    display: flex;
    height: 100vh;
}
.contactos{
    display: flex;
    width: 100%;
    flex-wrap: wrap ;
}
.contactosUno{
    background-color: #262626;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
    padding: 40px 60px 0 60px;
    justify-content: end;
}
.titulos{
    text-align: left;
    width: 80%;
    margin-bottom: 50px;
}
.tituloUno{
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4rem;
    color: #FFFFFF;
}
.tituloDos{
    color: #85DAC6;
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
}
.informacion{
    text-align: left;
    color: #E3E4E5;
    font-size: 20px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.informacionSwitch{
    color: #FFFFFF;
    font-size: 35px;
    font-family: omnes-pro, sans-serif;
font-weight: 800;
font-style: normal;
}
.subrayado{
    margin: 20px 0 20px 0;
    color: #E3E4E5;
    border: solid 1px #E3E4E5;
    width: 70%;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.containerFacebook{
    margin: 20px 10px 0 10px;
    display: flex;
    padding: 10px 10px 40px 5px;
    background-color: #85DAC6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.facebook{
    color: #FFFFFF;
    font-size: 40px;
}
.containerInstagram{
    margin: 20px 10px 0 10px;
    padding: 10px 10px 80px 10px;
    background-color: #1DAFA5;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.instagram{
    color: #FFFFFF;
    font-size: 40px;
}
.containerLinkedin{
    margin: 20px 10px 0 10px;
    padding: 10px 10px 120px 10px;
    background-color: #48569D ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.linkedin{
    color: #FFFFFF;
    font-size: 40px;
}
.contactosDos{
    background-color: #E3E4E5;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}
.tituloFormulario{
    color: #1DAFA5;
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}
.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
}
.input{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
    outline: none;
}
.input::placeholder{
    color:#838383dc;
    font-size: 15px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.inputMensaje::placeholder{
    color:#838383dc;
    font-size: 15px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
}
.inputMensaje{
    text-align:initial;
    padding-bottom: 90px;
    border-radius: 20px;
    border: none;
    width: 90%;
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    height: 150px;
    outline: none;
    resize: none;
    font-size: 15px;
    font-family: neue-haas-grotesk-display, sans-serif;;
}
.boton{
    border: none;
    background-color: #262626;
    border-radius: 20px;
    color: #E3E4E5;
    font-size: 15px;
    padding: 2px 20px 2px 20px;
    justify-content: end;
    height: 40px;
    width:100px;
    text-align: center;
    align-items: center;
}
/* Media Queries */ 
@media screen and (max-width: 970px){
    .tituloUno{
        font-size: 3rem;
    }
}
@media screen and (max-width: 770px){
    .containerContactos{
        flex-direction: column-reverse;
    }
    .contactos{
        flex-direction: column-reverse;
    }
    .contactosUno{
        width: 100%;
        height: 100vh;
    }
    .contactosDos{
        width: 100%;
        height: 100vh;
    }
    .tituloUno{
        font-size: 2.4rem;
    }
}