.containerNav{
    background-color: rgb(35, 41, 41);
    height: 50px;
    display: flex;
    justify-content: space-between;
}
/* FOTO NAV */
.fotoNav{
    display: flex;
    align-items: center;
    margin-left: 20px;
}


/*BOTONES NAV */

.botonesNav{
    display: flex;
    margin-left: 10px;
    width: 60%;
}
.aNav{
    text-decoration: none;
}
.ulNav{
    display: flex;
    width: 40%;
    text-decoration: none;
    align-items: center;
    list-style: none;
}

.liNav{
    flex-wrap: wrap;
    margin:10px;
}
.aNav{
    text-decoration: none;
    color: rgb(212, 209, 209);
    text-decoration: none;
}

/* Boton Login */

.botonLogin{
    color: rgb(212, 209, 209);
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.boton{
    background-color: rgb(20, 189, 189);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 15px;
    align-items: center;
}