.containerNosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 50px 0;
    height: 100%;
}
.titulo{
        color: #1DAFA5;
        font-size: 50px;
        width: 100%;
        font-family: omnes-pro, sans-serif;
        font-weight: 800;
        font-style: normal;
}
.nosotros{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.imagen{
    width: 120px;
    border-radius: 50%;
}
.nombre{
    color: #85DAC6;
    font-size: 20px;
}
.trabajo{
    font-size: 15px;
    color: #838383dc;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}