.containerHogar{
    background-color:  #1DAFA5;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 60px 0;
    justify-content: space-evenly;
}
.hogarUno{
    width: 60%;
    margin-left: 20px;
}
.containerTitulo{
    width: 80%;
}
.titulo{
    text-align: left;
    color: aliceblue;
    padding-bottom: 40px;
    font-size: 50px;
    display: flex;
    width: 85%;
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}
.titulo2{
    color: aliceblue;
    font-size: 30px;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    text-decoration: underline;
}
.parrafo{
    flex-direction: initial;
    color: rgb(233, 223, 223);
    padding-bottom: 50px;
    font-size: 20px;
    text-align: left;
    display: flex;
    width: 80%;
    font-size: 22px;
    font-family: omnes-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
}
.nombreListado{
    display: flex;
    color: aliceblue;
    font-size: 25px;
}
.iconBall{
    font-size: 10px;
    margin-top: 15px;
    margin-right: 10px;
}
.hogarDos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.fotoHogar{
    display: flex;
    margin-top: 10px;
    width: 200px;
    border-radius: 50%;
    height: 200px;
}
.boton{
    font-size: 20px;
    flex-wrap: wrap;
    color: #1DAFA5;
    border-radius: 20px;
    background-color: aliceblue;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}


