.containerEmpresas{
    background-color:  #F6BA36;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    justify-content: space-evenly;
}
.empresasUno{
    width: 60%;
}
.containerTitulo{
    width: 80%;
}
.titulo{
    text-align: left;
    color: aliceblue;
    padding-bottom: 40px;
    font-size: 50px;
    display: flex;
    width: 85%;
}
.titulo2{
    color: aliceblue;
    font-size: 30px;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    text-decoration: underline;
}
.parrafo{
    flex-direction: initial;
    color: rgb(233, 223, 223);
    padding-bottom: 50px;
    font-size: 20px;
    text-align: left;
    display: flex;
    width: 80%;
    justify-content: center;
}
.nombreListado{
    display: flex;
    color: aliceblue;
    font-size: 25px;
}
.iconBall{
    font-size: 10px;
    margin-top: 15px;
    margin-right: 10px;
}
.empresasDos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.fotoEmpresas{
    display: flex;
    margin-top: 10px;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    color: antiquewhite;
}
.boton{
    font-size: 20px;
    flex-wrap: wrap;
    color: #F6BA36;
    border-radius: 20px;
    background-color: aliceblue;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}


